@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF9F1;
  ;
  --foreground: #ECE8E5;
  ;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FDF8F2;
    --foreground: #ededed;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Adjust gap between sections */
  padding: 4rem 1rem; /* Modify padding for spacing */
  width:95%;
  margin: 0 auto;
}

.mainContent-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adjust gap between sections */
  padding: 0.5rem 1rem; /* Modify padding for spacing */
  width:95%;
  margin: 0 auto;
}

@media (max-width: 768px) { /* Smaller screens */
.mainContent .mainContent-sub  {
  padding: 2rem 1rem; /* Adjust padding for smaller screens */
}
}
@media (min-width: 601px) and (max-width: 1024px){
  .mainContent {
    padding: 1rem 0.5rem;
  }
  .mainContent-sub {
    padding: 0.5rem 0.5rem;
  }
}

/* Main Content Container responsible for storing EVERYTHING */

body {
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

