/* Text Styles for variations in text */
.boldText {
  color: #224750;
  font-family: "Helvetica Neue";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.24rem;
  letter-spacing: -0.027rem;
}
  
.basicTextLarge {
  color: #224750;
  font-family: Inter;
  font-size: 0.96875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 154.839% */
  letter-spacing: -0.005rem;
}
  
.basicTextSmall {
    font-weight: 500;
    font-size: 0.96875rem;
    font-family: Helvetica;
    color: #224750;
}
  
  .basicTextSmallGreen {
    font-weight: 500;
    font-size: 1rem;
    font-family: Helvetica;
    color: #44B07A;
}

.contentHead {
    gap: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
  }
  
.textContainer {
    flex-grow: 1;
}
  
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width:80px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; 
    padding: 2rem 0;
    max-width:100%;

}

.card{
    display: flex;
}

.button {
  font-family: inter;
  text-wrap: nowrap;
  background-color: #38A56F;
  color: #ffffff; /* White text color */
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: 600; /* Slightly bold for emphasis */
  padding: 1rem 4rem; /* Padding for a comfortable size */
  border: none; /* Removes default button border */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #388E3C; /* Darker shade of green on hover */
}
@media (min-width: 601px) and (max-width: 1024px) { /* Tablet size */
    .cards {
      grid-template-columns: repeat(3, 1fr); /* Switch to 3 columns */

    }
    .contentHead{
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin-top: 4vh;
    }
    .boldText{
      font-size: 1.8rem;
    }
    .basicTextLarge{
      font-size: 1.8rem;
    }
  }
  
@media (max-width: 768px) { 
    .cards {
      grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
    }
    .contentHead{
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin-top: 4vh;
    }
    .boldText{
      font-size: 1.8rem;
    }
    .basicTextLarge{
      font-size: 1.8rem;
    }
  }
  
@media (max-width: 480px) { /* Very small screens */
    .cards {
      grid-template-columns: 1fr; /* Switch to 1 column */
    }
    .contentHead{
      flex-direction: column;
    }
    .Button{
      width: 100%;
    }
  }
  