/* General Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(8px); /* Adds a subtle blur to the background */
  }

  .popup {
    border-radius: 0.79944rem;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    width: 24.25rem;
    height: 37.6875rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
  }
  
  .popup .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding: 0 1.5rem;
    height: 12%;
  }
  
  .popup .topBar h1 {
    font-size: 1rem;
    font-weight: 540;
    color: #224750;
    margin: 0;
  }
  
  .popup .closeButton {
    background: none;
    border: 1px solid #22475026; /* Light gray border */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #224750;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
  }
  .detailContainer{
    display: flex;
    align-items: center;
    height: 32rem;
    flex-direction: column;
  }

  .subscriptionBox {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 0.61rem;
    width: 21.5625rem;
    height: 20.5rem;
  }

  .paymentText{
    text-align: left;
    width: 21rem;
    padding: 0.7rem 0;
    color: #7A8B94;
  }

  .header{
    color: #FDC14E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35356rem; /* 144.378% */
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
  }

  .subHeader{
    color: rgba(255, 255, 255, 0.70);
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem; /* 140% */
    letter-spacing: -0.005rem;
    margin-top: 0.61rem;
  }

  .benefitHeader{
    color: #FFF;
    font-family: Inter;
    font-size: 0.70313rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; 
    margin-top: 0.95rem;
  }

  .benefitContainer{
    width: 18.40481rem;
    height: 8.25356rem;
    border-radius: 0.25rem;
    background: #FFF;
    margin-top: 0.7rem;
  }
  .price{
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .unit{
    color: #FFF;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.01875rem;
    margin-top: 1.04rem;
  }
  .paypalButtons{
    margin-top: 1rem;
    width: 22rem;
  }
  @media (max-width: 768px) {
    .subscriptionBox {
        width: 19rem;
    }
    .paymentText{
        width: 19rem;
    }

  .benefitContainer{
    width: 16.40481rem;
   }
   .paypalButtons{
        margin-top: 1rem;
        width: 18rem;
    }
}