@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Text Styles for variations in text */
.boldText {
    color: #224750;
    font-family: "Helvetica Neue";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.24rem; /* 144% */
    letter-spacing: -0.027rem;
}
.boldTextSmall{
    color: #7A8B94;
    font-family: Inter;
    font-size: 0.90313rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 160% */
    text-transform: uppercase;
    padding-bottom: 0.8rem;
}
  
.basicTextLarge {
    font-size: 3rem;
    font-family: Helvetica;
    color: #224750;
}
  

  
.basicTextSmallGreen {
    font-size: 1.2rem;
    font-family: Helvetica;
    color: #44B07A;
}

/* Structure */
.mainContainer{
    display: flex;
    flex-direction: row;
    padding-top: 5.67rem;
}
.enrolledTasks{
    width: 19em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 1rem;
    background-color: #FDF9F1;
}

/* right container practice content structure */

.practiceContent{
    width:100%;
}

.Title{
    display: flex;
    flex-direction: row;
    padding-top: 3em;
    padding-bottom:2em;
    margin-left: 0.2em;
}
    .TitleButtonCell{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        align-content: centern;
        gap:1em;
    }
    .TitleButton{
        margin-left: auto;
        font-family: 'inter';
        color:#224750;
        font-weight: 700;
    }
    .TitleIcon{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left:auto;
        height:50px;
        width:50px;
        border: 2px solid #22475026;
        border-radius: 50%;
        justify-content: center;
        padding:0em;
        margin-top: 0.5em;
        align-items: center;

    }
    .TitleIcon img{
        object-fit: contain; /* Prevent distortion */
        display: block;
        width: 25px;
        height: 25px;
    }

    /* Ditch the task list when theres no space for it. */
    @media (max-width: 1260px) {
        .enrolledTasks {
            display: none;
        }
    }


    /* heading gets too big for 500px width screens so shrink it */
    @media (max-width: 500px) {
        .Title p {
            font-size: 2rem;
        }
        .Title{
            padding-top: 10px;
            flex-direction: column;
        }
        .TitleButtonCell{
            margin-top: 1em;
            margin-bottom: -0.5em;
            margin-left: 0px;
            margin-right: auto;
        }
        .TitleButton {
            font-size: 0.8rem;
        }
        .TitleIcon {
            height: 40px;
            width: 40px;
        }
        .TitleIcon img {
            width: 20px;
            height: 20px;
        }
        .mainContainer{
            padding-top: 3em;
        }
    }