.practiceMetaData{
    display: flex;
    flex-direction: row;

}
    /* Link container contains the link elements it has flex row for horizontal display with fontsize 1.2 rem*/
    .linkContainer{
        display:flex;
        flex-direction: row;;
        align-items: center;
        font-size: 1.5rem;

    }
        /* selected image to add gap between image and text */
    .linkContainer img{
        padding-right: 0.6rem;;
        height:1rem;
    }
        /* Added Padding to the Slashes between the links */
    .linkContainer p{
        padding:0 0.25em;
    }
    .breadcrumbLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
    }
        /* Green Link Decorator */
    .greenLink{
        color: #38A56F;
        font-family: Inter;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.38125rem; /* 130% */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

    .metaData img{
        padding-right: 0.3em;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;


    }
    .metaData{
        font-size: 1.2rem;
        text-wrap: nowrap;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        font-family: 'inter';
        color:#3C4852;
        gap:1em;
    }
        .skill{
            display: flex;
            flex-direction: row;
            gap:0.2em;

        }
        .Level{
            gap:0.2em;
            display: flex;
            flex-direction: row;
        }

    .skillName {
        font-weight:600;
        color: #3C4852;
        font-family: Inter;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
    }
    .skill,.Level{
        align-items: center;
        color: #3C4852;
        font-family: Inter;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 160% */
    }

    /* Reactivity for text size and image size *in meta data */

    @media (max-width: 1000px) {
        .linkContainer p{
            /* font-size:0.9em; */
            align-content: baseline;
        }
        .linkContainer img{
            padding-right: 0.5em;
            height: 22px;
        }
        .practiceMetaData {
            flex-direction: column;
        }   
            .metaData{
                margin-left: 0;
                padding-top:1em;
                /*font-size: 0.7em;*/
                gap:3em;
                width:25px;
            }
                .skill,.Level{
                    align-items: center;
                }
                .metaData img{
                    width:25px;
                }
                .Level img{
                }

        

    }

    /* reduce font size when it gets too big for phone 
    screens and starts colliding with the outer container */

    @media (max-width:640px){
        .linkContainer p,.linkContainer a{
            font-size:0.9em;
        }
        .linkContainer{
            align-items: center;
        }
        .breadcrumbLinks{
            gap:0.1em;
        }
        .linkContainer img{
            width:28px;
            margin-right: -2px;
            margin-top:-2px;
        }
        .metaData{
            margin-top: 1rem;
            margin-bottom: 0.8rem;
            font-size: 1em;
            gap:2em;
        }
        .metaData img,.Level img{
            width:23px;
        }
        .skill{
            display: flex;
            flex-direction: row;
            gap:0.2em;

        }
        .Level{
            gap:0.2em;
            display: flex;
            flex-direction: row;
        }

    .skillName {
        font-weight:600;
        color: #3C4852;
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
    }
    .skill,.Level{
        align-items: center;
        color: #3C4852;
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 160% */
    }


    }

    
@media (max-width:410px){
    .linkContainer p,.linkContainer a{
        font-size:0.7em;
    }
    .metaData{
        font-size: 0.9rem;
    }
    .breadcrumbLinks{
        gap:0.05em;
    }
    .metaData img{
        width: 22px;
        margin-right: -3px;
    }
}