@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Text Styles for variations in text */
.boldText {
    font-size: 3rem;
    font-family: Helvetica;
    font-weight: 800;
    color: #224750;
}
  
.basicTextLarge {
    font-size: 3rem;
    font-family: Helvetica;
    color: #224750;
}
  
.basicTextSmall {
    font-weight: 500;
    font-size: 1.4rem;
    font-family: 'inter';
    color: #224750;
    padding-top:0.2rem;
}
  
.boldTextSmall {
    font-size: 1rem;
    font-family: 'inter';
    font-weight: 600;
    color: #7A8B94;
}
.basicTextSmallGreen {
    font-size: 1.2rem;
    font-family: Helvetica;
    color: #44B07A;
}

/* Structure */
.mainContainer{
    display: flex;
    flex-direction: row;
    padding-top: 8.5rem;
}
.enrolledTasks{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 1rem;
    background-color: #FDF9F1;
}

.rightContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.textContent{
    padding-top:1.2rem;
    padding-bottom:2rem;
}
@media (max-width: 1000px) {
    .enrolledTasks {
        display: none;
    }
}