.subscriptionCardPurchased{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 24.3125rem;
  height: 31.625rem;
  border-radius: 0.75rem;
  border: 1.554px solid #FDD999;
  background: linear-gradient(166deg, rgba(254, 215, 131, 0.15) 7.44%, rgba(254, 215, 131, 0.02) 89.97%);
}
.isSubscription{
  display: flex;
  width: 8.125rem;
  height: 2.25rem;
  padding: 0.57088rem 0.91825rem 0.52rem 0.91513rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 1.554px solid #FDD999;
  background: #FFF;
  margin-top: -2.5rem;
}
.isSubscription p{
  font-family: Inter;
  font-size: 0.76069rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.03031rem; /* 135.45% */
  text-transform: uppercase;
  background: linear-gradient(113deg, #E6941F 0%, #E58D13 99.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.3rem;
}
.subscriptionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 24.3125rem;
  height: 31.625rem;
}

.subscriptionBox {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0.61rem;
  /* justify-content: space-between; */
  width: 21.5625rem;
  height: 20.5rem;
}
.premium {
  color: #FDC14E;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.35356rem; 
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}
.pricing {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 1.06rem;
}

.price {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.perMonth {
  color: #FFF;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01875rem;
}

.description {
  color: rgba(255, 255, 255, 0.70);
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: -0.005rem;
  margin-top: 0.61rem;
}
.benefitsContainer {
  margin-top: 0.95rem;
}

.allBenefits {
  color: #FFF;
  font-family: Inter;
  font-size: 0.70313rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem; /* 160% */
}

.benefitsBox {
  width: 18.40481rem;
  height: 8.22163rem;
  background: white;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.98rem; 
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0.65rem;
}

.benefitsTable {
  width: 100%;
  border-collapse: collapse;
}

.benefitsTable td {
  padding-bottom: 0.7rem;
  vertical-align: middle;
  color: #224750;
}

.checkIcon {
  width: 1.60413rem;
  height: 1.60413rem;
  margin-right: 0.98rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.subscribeButton,
.viewTasksButton {
  width: 100%;
  padding: 0.875rem 5.93625rem 0.875rem 6.01rem;
  border-radius: 8px;
  font-size: 0.875rem;;
  cursor: pointer;
}

.subscribeButton {
  background-color: #38A56F;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: #2d8f5a; /* Darker green on hover */
}

.viewTasksButton {
  background-color: #FFFFFF;
  color: #38A56F;
  border: 1px solid #38A56F;
  font-size: 0.9rem; /* Basic text small size */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.viewTasksButton:hover {
  background-color: #f1f1f1; /* Gray background on hover */
  color: #555555; /* Darker text color on hover */
}

@media (max-width: 678px) {
  .subscriptionCardPurchased{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 21.3125rem;
    height: 31.625rem;
    border-radius: 0.75rem;
    border: 1.554px solid #FDD999;
    background: linear-gradient(166deg, rgba(254, 215, 131, 0.15) 7.44%, rgba(254, 215, 131, 0.02) 89.97%);
  }

  .subscriptionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20.3125rem;
    height: 33.625rem;
  }

  .subscriptionBox {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 18.5625rem;
    height: 22.5rem;
  }
  
.benefitsBox {
  width: 16.3rem;
  height: 10.22163rem;
  background: white;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.98rem; 
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0.65rem;
}
}