.iconCell {
    align-items: center; /* Vertically align the icon */
    justify-content: center; /* Horizontally align the icon */
}

.iconCell{
    /* Set the height of the circle (same as width for a circle) */
    color: #3C4852;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 160% */
}

.iconCell img{
    width: 25px;
    height: 25px;
}

.subjectCell{
    width: 90%;
    padding:0.5rem 1.38rem; /* padding to adjust distance from icon */
    align-items: center; /* Vertically align the icon */
    justify-content: center; 
    font-size:1.2rem;
    font-weight: 600;
    color: #3C4852;
}

.container{
    font-family: inter;
}